/* 
    Set default global styles for: 
    Navigation <nav></nav>
*/

.navigation {
    background-color: getColor(white);
    height: 93px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.05);

    .branding {

        margin-left: 38px;

        a {
            img {
                height: 45px;
                width: 184px;
                object-fit: cover;
            }
        }

    }

    .main-nav {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        .nav-list {
            display: flex;
            align-items: center;

            ul {
                display: flex;

                li {
                    list-style: none;
                    margin-right: 45px;
                    
                    a {
                        height: 22px;
                        width: auto;
                        color: #353640;
                        font-family: 'Karla', sans-serif;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 22px;
                    }

                    @include xl{
                        margin-right: 24px;
                    }

                }
            }

            @include md{
                display: none;
            }

        }

        .nav-bar {
            background-color: #C39900;
            height: 93px;
            width: 113px;

            a {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 28px;
                    height: 20px;
                }
            }

        }


    }

    &.nav-sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }
        

}